@import '~src/assets/scss/variables';

.flickr-list {
  position: relative;

  li {
    position: absolute;
  }
}

.loader-entry {
  background: $color-background-2;
  border-radius: $small-border-radius;
}
