<div class="wrapper" #wrapper (window:resize)="onResize()">
  <!-- Flickr layout -->
  <ul class="flickr-list" [ngStyle]="{'height': containerHeight + 'px'}" *ngIf="extendedImages">
    <li *ngFor="let image of extendedImages" [ngStyle]="{
      'width': image.box.width + 'px',
      'height': image.box.height + 'px',
      'top': image.box.top + 'px',
      'left': image.box.left + 'px'
    }">
      <app-image-thumb [image]="image" (onDeleteImage)="onDeleteImage($event)" [editMode]="settings.editMode"
        [displayTags]="settings.displayTags"></app-image-thumb>
    </li>
  </ul>
</div>
