.user-menu {
  display: flex;
  align-items: center;
  color: var(--color-text);
  transition: all 0.1s;

  &.is-active {
    color: var(--color-text);
  }

  i {
    margin-right: 0.5rem;
    font-size: 1.2em;
  }
}
