@import '~src/assets/scss/variables';

.checkbox {
  display: flex;
  border: 1px solid $color-text;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  opacity: .5;

  i {
    margin: auto;
    font-size: 1em;
    color: $color-text;
  }

  &.is-checked {
    background: $color-text;
    border-style: solid;
    opacity: 1;

    i {
      color: $color-background;
      display: block;
    }
  }

  &:disabled {
    opacity: 0;
  }
}
