.edit-toolbar {
  position: absolute;
  bottom: var(--overlay-padding);
  right: var(--overlay-padding);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;

  .button:not(:last-child) {
    margin-right: 0.5rem;
  }

  .bi-check {
    font-size: 1.5em;
  }
}
