.edit-toolbar {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .group {
    display: flex;
    align-items: center;
    border-radius: 1000rem;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }

  button {
    padding: .4rem;
    display: flex;
    color: $color-darkgray;
    background: rgba($color-white, .9);
    transition: all .2s;

    &:not(.is-disabled):hover {
      background: rgba($color-white, 1);
    }

    &.is-disabled {
      cursor: default;
    }

    i {
      margin: auto;
      font-size: 1rem;
    }

    .icon-check {
      font-size: .8rem;
    }

    span {
      font-size: .8rem;
      font-weight: 500;
      margin-left: .3rem;
      margin-right: .3rem;
    }
  }

  .button-favorite.is-active {
    color: $color-yellow;
  }
}
