.button {
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 2.25rem;
  transition: all 0.2s;
  background: var(--color-white-smoke);
  color: var(--color-darkgray);
  font-size: var(--font-size-small);
  box-shadow: 0 2px 6px rgba(var(--color-black-rgb), 0.15);

  &:hover {
    opacity: 0.9;
    color: var(--color-almost-black);
    box-shadow: 0 2px 7px rgba(var(--color-black-rgb), 0.1);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    box-shadow: 0 0 0 transparent;
  }

  i:first-child {
    margin-right: 0.35rem;
    font-size: 1rem;
  }
}

.button--icon {
  width: 2.25rem;

  i {
    margin: 0 !important;
  }
}

.navigation-button {
  color: var(--color-text-lighter);
  transition: all 0.2s;

  &:hover:not(:disabled) {
    color: var(--color-text);
  }

  &:disabled {
    cursor: default;
    opacity: 0;
  }

  i {
    font-size: 2.5rem;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  label {
    color: var(--color-text-medium);
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    font-weight: 300;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.input-wrapper {
  background: transparent;
  // border-radius: $medium-border-radius;
  border-radius: 1000rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-main-border);
  color: var(--color-text-medium);
  // font-size: 1em;
  transition: border 0.2s;
  background: var(--color-background);

  .input {
    border: 0;
    flex: 1;
    outline: 0;
    // font-size: 1rem;
    background: transparent;
    color: inherit;
    // height: 2.5rem;
    // padding: 0 1rem;
    padding: 0.25rem 0.5rem;
    font-weight: 300;
    width: 100%;
  }

  .input--medium {
    padding: 0.5rem 0.75rem;
  }

  i,
  span {
    display: block;
    width: 2.25rem;
    text-align: center;
    color: var(--color-text-medium);
    font-size: 1.2em;
    transition: border 0.2s;
  }

  &:focus-within,
  &.is-filled {
    border-color: var(--color-text);
    color: var(--color-text);

    i {
      color: var(--color-text);
    }
  }
}

.input-wrapper--medium {
  width: 100%;

  .input {
    font-size: 0.85rem;
    height: auto;
    line-height: 1;
    padding: 0.5rem 0.8rem;
  }
}

.input-wrapper--small {
  width: 10rem;
  border-color: var(--color-background-2);

  .input {
    // font-size: .8rem;
    height: auto;
    line-height: 1;
    padding: 0.4rem 0.7rem;
    // color: var(--color-background-2);
    // font-weight: 500;

    &::placeholder {
      color: var(--color-text-medium);
    }
  }

  &:focus-within,
  &.is-filled {
    border-color: var(--color-background-2);
    // color: var(--color-background-2);

    // i {
    //   color: var(--color-background-2);
    // }
  }
}

// .input-wrapper--i-right .input {
//   padding-right: 0 !important;
// }

.input-wrapper--i-left .input {
  padding-left: 0 !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea {
  background: var(--color-background);
  width: 100%;
  border: 1px solid var(--color-main-border);
  color: var(--color-text-medium);
  transition: border 0.2s;
  padding: 0.5rem 0.75rem;
  border-radius: $big-border-radius;
  resize: none;
  outline: 0;
  line-height: 1.2;
  min-height: 8rem;

  &:focus,
  &.is-filled {
    border-color: var(--color-text);
    color: var(--color-text);

    i {
      color: var(--color-text);
    }
  }
}

.progress {
  background: rgba(var(--color-white-smoke-rgb), 0.2);

  .progress-bar {
    background: var(--color-accent);
  }
}

// @-webkit-keyframes autofill {
//   to {
//     color: var(--color-text-medium);
//     background: transparent;
//   }
// }

// input:-webkit-autofill {
//   -webkit-animation-name: autofill;
//   -webkit-animation-fill-mode: both;
// }

[contenteditable='true'] {
  outline: 0;
  transition: background 0.2s;
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.2rem 0.4rem;

  &:focus {
    background: rgba(255, 255, 255, 0.15);
  }
}

.film-icon {
  margin-right: 0.2em;
  display: flex;

  svg {
    margin: auto;
    width: 0.85em;
    height: 0.85em;
  }
}

rating > span {
  outline: 0;
}

.bi:before {
  display: block;
}
