.button {
  background: $color-background-2;
  border-radius: 2rem;
  border: 1px solid $color-main-border;
  color: $color-text-2;
  font-size: 1em;
  transition: all .2s;
  padding: .6rem 1rem;

  &:hover {
    // color: $color-text;
    border-color: $color-text-2;
  }
}

.input-wrapper {
  background: $color-background-2;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-main-border;
  color: $color-text-2;
  font-size: 1em;
  transition: border .2s;

  .input {
    border: 0;
    padding: .6rem 1rem;
    flex: 1;
    outline: 0;
    font-size: 1rem;
    background: transparent;
    color: inherit;
  }

  i,
  span {
    display: block;
    width: 3rem;
    text-align: center;
    color: $color-text-2;
    padding-left: .3rem;
    font-size: 1.4em;
  }

  &:focus-within {
    border-color: $color-text-2;

    // i {
    //   color: $color-text;
    // }
  }
}

// .input-wrapper--i-right .input {
//   padding-right: 0 !important;
// }

.input-wrapper--i-left .input {
  padding-left: 0 !important;
}
