.button {
  background: $color-background-2;
  border-radius: 2rem;
  border: 1px solid $color-main-border;
  color: $color-text-lighter;
  font-size: 1em;
  transition: all .2s;
  padding: .55rem 1.2rem;

  &:disabled {
    cursor: default;
    opacity: .5;
    background: $color-mediumgray-lighter;
    border-color: $color-mediumgray-lighter;
    box-shadow: 0 0 0 transparent;
  }

  &:not(:disabled):hover {
    // color: $color-text;
    border-color: $color-text-lighter;
  }
}

// .button--main {
//   background: rgba($color-white, 1);
//   color: $color-darkgray;
//   border-color: rgba($color-white, 1);
//   font-weight: 500;
// }

.button--main {
  background: $color-accent;
  border-color: $color-accent;
  color: rgba($color-white, 1);
  // text-transform: uppercase;
  // letter-spacing: .05em;
  // font-size: .8rem;
  // border-color: rgba($color-green, .6);
  box-shadow: 0 2px 5px rgba($color-black, .1);

  &:not(:disabled):hover {
    // border-color: rgba($color-green, 1);
    border-color: $color-accent;
    opacity: .9;
    box-shadow: 0 2px 7px rgba($color-black, .1);
  }
}

.input-wrapper {
  background: $color-background-2;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-main-border;
  color: $color-text-lighter;
  font-size: 1em;
  transition: border .2s;

  .input {
    border: 0;
    padding: .55rem 1rem;
    flex: 1;
    outline: 0;
    font-size: 1rem;
    background: transparent;
    color: inherit;
  }

  i,
  span {
    display: block;
    width: 3rem;
    text-align: center;
    color: $color-text-lighter;
    padding-left: .3rem;
    font-size: 1.4em;
  }

  &:focus-within {
    border-color: $color-text-lighter;

    // i {
    //   color: $color-text;
    // }
  }
}

// .input-wrapper--i-right .input {
//   padding-right: 0 !important;
// }

.input-wrapper--i-left .input {
  padding-left: 0 !important;
}
