// .animated-router-outlet ~ * {
//   position: absolute;
//   width: 100%;
// }

.main-container {
  // padding: 1rem 1.5rem 2rem;
  padding: 1.5rem;

  // .inner {
  // max-width: $container-width;
  margin: auto;
  // }

  @include respond-to('medium') {
    padding: 1rem 1.5rem;
  }

  @include respond-to('small') {
    padding: 1rem .5rem;
  }
}

.main-loader-wrapper {
  // width: 100%;
  margin-top: 35vh;
}

.album,
.main-loader-wrapper {
  position: absolute;
  width: 100%;
}

.grid-list {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  // margin-bottom: 1rem;

  img {
    width: 100%;
  }
}

.grid-list--small {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

body.is-static {
  overflow: hidden;
}

img.fade {
  opacity: 0;
  transition: opacity 1s $ease-out-quint, box-shadow .3s $ease-out-quint;

  &.is-loaded {
    opacity: 1;
  }
}

.image-wrapper {
  transition: .2s all;
}

.modal .image-wrapper {
  border: 0 !important;
  transition: 0s all !important;
}

.photo-thumb,
.album-thumb {
  transition: all .3s $ease-out-quint;

  &:hover .image-wrapper {
    // transform: translate3d(.2rem, -.2rem, 0);
    border-color: $color-mediumgray;

    // img {
    //   box-shadow: -5px 5px 15px rgba(0, 0, 0, .3) !important;
    // }
  }
}

.image-wrapper .loader {
  border-color: $color-main-border transparent transparent $color-main-border !important;
}

// Masonry
.masonry-list {
  column-count: 4;
  column-gap: 1rem;

  @include respond-to('large') {
    column-count: 3;
    column-gap: 2rem;
  }

  @include respond-to('medium') {
    column-count: 2;
    column-gap: 1rem;
  }

  @include respond-to('small') {
    column-count: 1;
    column-gap: 0;
  }

  .list__entry {
    // padding-top: 1rem;
    padding-bottom: 1rem;
    break-inside: avoid;

    @include respond-to('medium') {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    img {
      width: 100%;
    }
  }
}

.page-header {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  margin-bottom: 1.5rem;
}
