body.disable-scroll {
  overflow: hidden;
}

.main-container {
  padding: var(--container-padding);
  // padding-top: var(--albums-spacing);
  padding-top: 3rem;
  max-width: var(--container-width);
  margin: auto;
  animation: fade-in-from-bottom 1s var(--ease-out-quint) both 0.4s;

  @include respond-to('small') {
    // padding: 1rem;
  }
}

// .main-container--fixed {
//   max-width: var(--container-width);
//   margin: auto;
// }

.main-loader-wrapper {
  margin-top: 35vh;
  position: absolute;
  width: 100%;
}

body.is-static {
  overflow: hidden;
}

img.fade {
  opacity: 0;
  transition: opacity 1s var(--ease-out-quint),
    box-shadow 0.3s var(--ease-out-quint);

  &.is-loaded {
    opacity: 1;
  }
}

.image-thumb .button-lightbox,
.album-thumb .cover {
  transition: all 0.3s var(--ease-out-quint);

  &:hover,
  &:hover .cover {
    opacity: 0.8;
  }
}

.image-wrapper .loader {
  border-color: var(--color-main-border) transparent transparent
    var(--color-main-border) !important;
}

.checkbox-list__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: var(--small-border-radius);
  color: var(--color-text-medium);
  transition: all 0.1s;
  font-size: 0.85rem;
  font-weight: 500;

  &:hover {
    background: var(--color-background-3);
  }
}
