.modal-dialog {
  // font-size: 1rem;

  &.small {
    max-width: 18rem;
  }

  &.big {
    max-width: 40rem;
  }

  &.upload {
    margin-top: 12rem;
  }
}

.modal.fade .modal-dialog.upload {
  transform: translate(0, 50px);
}

.modal.show .modal-dialog {
  transform: none !important;
}

.modal-content {
  border-radius: $big-border-radius;
  overflow: hidden;
  background: $color-background-2;
}

.modal-header {
  border: 0;
  text-align: center;
  padding: 0;
  display: block;
  padding: 1.5rem 0 0;
}

.modal-button-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
  display: flex;
  opacity: .5;

  i {
    font-size: 1.3rem;
    color: $color-text-lighter;
    margin: auto;
  }
}

.modal__title {
  font-size: 1.4rem;
  // margin: 1rem 0 1.5rem;
  text-align: center;
}

.modal__subtitle {
  text-align: center;
  font-weight: 500;
  color: $color-text-lighter;
}

.modal__paragraph {
  text-align: center;
  margin-bottom: 2rem;
  font-size: .9rem;
  line-height: 1.4;
  color: $color-text-lighter;

  // a {
  //   color: var(--color-blue);
  //   font-weight: 500;

  //   &:hover {
  //     text-decoration: underline;
  //   }
  // }
}
