.popover {
  width: 14rem;
  max-width: 14rem;
  font-family: inherit;
  // box-shadow: 0 4px 18px rgba(var(--color-black-rgb), .2);
  border-radius: $big-border-radius + .1rem;
  background: $color-background-2;

  .arrow:after {
    border-bottom-color: $color-background-2;
  }
}

.popover.bottom>.arrow {
  margin-left: 9px !important;
}

.popover-body {
  height: 100%;
  padding: 0;
  border-radius: $big-border-radius;
  overflow: hidden;
  color: $color-text;
}
