$tags-spacing: 0.25rem;

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -$tags-spacing;

  &.is-editmode .tag {
    padding-right: 0.4rem;
  }
}

.tag {
  background: var(--color-background-2);
  color: var(--color-text);
  border-radius: 1000rem;
  padding: 0.5rem 0.75rem 0.45rem;
  margin-right: $tags-spacing;
  margin-bottom: $tags-spacing;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font-size-mini);
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1;

  &.tag--small {
    font-size: 0.55rem;
    padding: 0.4rem 0.65rem 0.35rem;
  }

  button {
    margin-left: 0.25rem;
    position: relative;
    width: 1rem;
  }

  i {
    font-size: 1.6em;
    color: var(--color-text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.tag.is-clickable {
  transition: all 0.1s;

  &:hover {
    opacity: 0.9;
  }

  &.is-active {
    background: var(--color-text);
    color: var(--color-background);
  }
}
