.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -.4rem;

  &.is-editmode {
    margin-top: .75rem;

    .tag {
      padding-right: .4rem;
    }
  }
}

.tag {
  background: $color-background-2;
  color: $color-text;
  border-radius: 1000rem;
  padding: .35rem .85rem;
  // font-weight: 400;
  font-size: .85rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;

  button {
    margin-left: .2rem;
    display: flex;
  }

  i {
    font-size: 1rem;
    margin: auto;
    color: $color-text;
  }
}

.tag.is-clickable {
  transition: all .1s;

  &:hover {
    opacity: .7;
  }

  &.is-active {
    background: $color-text;
    color: $color-background;
  }
}
