// General colors
$color-white: #fff;
$color-black: #000;
$color-white-smoke: #f5f6f7;
$color-gray: #828a92;
$color-lightgray: #cdcdcd;
$color-mediumgray: #8A8A8A;
$color-blue: #54a0ff;
$color-green: #27ae60;
$color-red: #e74c3c;
$color-yellow: #fbc531;
$color-orange: #f39c12;

$color-almost-black: #212121;
$color-almost-black-2: #1C1C1C;
$color-darkgray: #363636;
$color-darkgray-medium: #3d3d3d;
$color-darkgray-lighter: #4A4A4A;
$color-mediumgray-lighter: #a6a6a6;

// Theme
$color-text: $color-white-smoke;
$color-text-medium: $color-mediumgray-lighter;
$color-text-lighter: $color-darkgray-lighter;
$color-background: $color-almost-black;
$color-background-2: $color-darkgray;
$color-background-3: $color-darkgray-medium;
$color-background-4: $color-almost-black-2;
$color-main-border: $color-darkgray-lighter;
// $color-main-border: $color-mediumgray-lighter;
$color-accent: $color-blue;

// Font
$font-family: 'Inter', sans-serif;
// $base-font-size: .85rem;
$base-font-size: 1rem;

// Sizes
$container-width: 82rem;
$container-padding: 1.5rem;

// $container-width: 100%;
// $container-width-header: 75rem;
// $container-width-header: 100%;
$small-border-radius: .35rem;
$medium-border-radius: .5rem;
$big-border-radius: .85rem;
$sidebar-width: 4rem;

// Easing
$ease-out-quint: cubic-bezier(.23, 1, .32, 1);

// Breakpoints
@import '~src/assets/scss/breakpoints';
