<div class="album-thumb">
  <!-- <a [routerLink]="['/', 'albums', album._id]" (deferLoad)="onDeferLoad()">
    <ul
      class="covers"
      [ngClass]="{
        'has-2-covers': album.covers.length === 2,
        'has-3-covers-or-more': album.covers.length >= 3
      }"
      *ngIf="album.covers.length && isInViewport"
    >
      <app-cover-image
        *ngFor="let cover of covers"
        [src]="cover.signedUrl"
      ></app-cover-image>
    </ul>
    <div *ngIf="album.rollId" class="top-left">{{ album.rollId }}</div>
    <div class="edit-toolbar" *ngIf="editMode" [@fadeAnimation]>
      <button class="button button--icon" (click)="delete($event)">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </a> -->
  <div class="top">
    <a [routerLink]="['/', 'albums', album._id]"
      ><h2 class="title">{{ album.title }}</h2></a
    >
  </div>
  <!-- <div class="roll-wrapper"> -->
  <!-- <div class="bar"></div> -->
  <ul class="roll">
    <li class="roll__entry" *ngFor="let cover of covers">
      <app-cover-image [image]="cover"></app-cover-image>
    </li>
    <li class="roll__entry roll__entry--explore">
      <a class="inner" [routerLink]="['/', 'albums', album._id]">
        <!-- <span>explore</span> -->
        <div class="arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <g
              fill="none"
              stroke="#fff"
              stroke-width="1.5"
              stroke-linejoin="round"
              stroke-miterlimit="10"
            >
              <circle
                class="arrow-icon-circle"
                cx="16"
                cy="16"
                r="15.12"
              ></circle>
              <path
                class="arrow-icon-arrow"
                d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"
              ></path>
            </g>
          </svg>
        </div>
      </a>
    </li>
  </ul>
  <!-- <div class="bar"></div> -->
  <!-- </div> -->
</div>
