@import '~src/assets/scss/variables';

.album-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-background-2);
  border-radius: $small-border-radius;
  overflow: hidden;
  display: block;
}

.covers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  // gap: 0.25rem;

  &.has-2-covers {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &.has-3-covers-or-more {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.covers__entry {
  position: relative;
}

.covers__image {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.album-thumb:hover .infos {
  opacity: 1;
}

.infos {
  width: 100%;
  padding: $overlay-padding;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(var(--color-black-rgb), 0.65) 100%
  );
  opacity: 0;
  transition: opacity 0.2s;

  &.is-edit-mode {
    padding-right: 3rem;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // color: var(--color-text);;
    font-weight: 400;
  }
}

.top-left {
  position: absolute;
  // color: var(--color-text);;
  text-shadow: 1px 1px 4px rgba(var(--color-black-rgb), 0.6);
  top: $overlay-padding;
  left: $overlay-padding;
  text-align: left;
  z-index: 2;
  font-weight: 500;
  background: var(--color-background-3);
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
  font-weight: 500;
  // letter-spacing: 0.1em;
}
