<a class="album-thumb" [routerLink]="['/', 'albums', album._id]">
  <div class="cover">
    <!-- <img [src]="album.primary_photo_extras.url_m" alt=""> -->
    <app-image
      *ngIf="album.cover"
      [src]="album.cover.signedUrl"
      [width]="album.cover.oriWidth"
      [height]="album.cover.oriHeight"
    ></app-image>
  </div>
  <div class="infos">
    <h2 class="title">{{album.title}}</h2>
    <!-- <div class="year">{{album.year}}</div> -->
    <!-- <p class="description">{{album.description._content}}</p> -->
  </div>
</a>
