<div class="modal">
  <div class="overlay" (click)="close()"></div>

  <ul class="list">
    <li *ngFor="let photo of photos; let i = index">
      <div
        *ngIf="i == index || i == getPrevIndex(index) || i == getNextIndex(index)"
        class="dialog"
        [ngClass]="{
          'is-visible': i == index,
          'is-prev': i == getPrevIndex(index),
          'is-next': i == getNextIndex(index)
        }"
      >
        <div class="inner">
          <app-photo-modal [photo]="photo" [active]="i == index"></app-photo-modal>
          <button class="close-button" (click)="close()"><i class="material-icons">close</i></button>
        </div>
      </div>
    </li>
  </ul>

  <button *ngIf="displayControl" class="prev" (click)="prev()"><i class="material-icons">navigate_before</i></button>
  <button *ngIf="displayControl" class="next" (click)="next()"><i class="material-icons">navigate_next</i></button>
</div>
