<div class="popover-content">
  <h4 class="title">{{ email }}</h4>
  <ul>
    <li>
      <button
        class="checkbox-list__button"
        (click)="onClickSetting('editMode')"
      >
        <span>Enable edit mode</span>
        <div class="right">
          <app-checkbox [check]="settings.editMode"></app-checkbox>
        </div>
      </button>
    </li>
    <li>
      <button
        class="checkbox-list__button"
        (click)="onClickSetting('lightTheme')"
      >
        <span>Toggle light theme</span>
        <div class="right">
          <app-checkbox [check]="settings.lightTheme"></app-checkbox>
        </div>
      </button>
    </li>
  </ul>
  <div class="bottom">
    <button class="button button--inverted button--logout" (click)="logout()">
      Logout
    </button>
  </div>
</div>
