<div class="settings">
  <h4 class="title">{{email}}</h4>
  <ul class="list">
    <li>
      <button (click)="onClickSetting('editMode')">
        <span>Enable edit mode</span>
        <div class="right">
          <app-checkbox [check]="editMode"></app-checkbox>
        </div>
      </button>
    </li>
    <!-- <li>
      <button (click)="onClickSetting('displayTags')">
        <span>Display tags</span>
        <div class="right">
          <app-checkbox [check]="displayTags"></app-checkbox>
        </div>
      </button>
    </li> -->
  </ul>
  <div class="bottom">
    <button class="button-logout button" (click)="logout()">Logout</button>
  </div>
</div>
