@import '~src/assets/scss/variables';

.filters {
  margin-bottom: $container-padding;
}

.tags-list {
  // justify-content: center;
  margin-bottom: -0.75rem;
}

.tag {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}
