@import '~src/assets/scss/variables';

.header,
.tags {
  padding: 0.75rem;
}

.header {
  border-bottom: 1px solid var(--color-main-border);
}

.body {
  background: var(--color-background-3);
  min-height: 14rem;
  overflow: auto;
  position: relative;
}

.loader-wrapper,
.tags {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.loader-wrapper {
  display: flex;
  height: 100%;

  .inner {
    margin: auto;
  }
}

.tags {
  margin-top: 0;
}

.tag {
  background: var(--color-background);
  color: var(--color-text-medium);

  i {
    color: var(--color-text-medium);
  }
}
