<div class="manage-tags">
  <!-- <div class="header">
    <div class="input-wrapper input-wrapper--medium">
      <input type="text" class="input" placeholder="Add a tag..." [(ngModel)]="newTagValue"
        (keydown.enter)="onKeyEnter()">
    </div>
  </div> -->
  <div class="body">
    <div class="loader-wrapper" *ngIf="!tags">
      <div class="inner">
        <app-loader color="light"></app-loader>
      </div>
    </div>
    <ul class="tags is-editmode" *ngIf="tags" [@fadeInAnimation]>
      <li *ngFor="let tag of tags">
        <button class="tag is-clickable" (click)="onClickTag(tag.value)">
          {{ tag.value }}
          <button (click)="deleteTag($event, tag)">
            <i class="bi bi-x"></i>
          </button>
        </button>
      </li>
    </ul>
  </div>
</div>
