.add-tags-wrapper {
  padding: 0.75rem;
  background: rgba(var(--color-white-rgb), 0.6);
  height: var(--lightbox-edit-tags-height);
  backdrop-filter: blur(10px);
}

.tags {
  padding: 0.75rem;
}

.suggested-tags {
  margin-top: 0.75rem;
}

.title {
  text-transform: uppercase;
  font-size: var(--font-size-mini);
  color: var(--color-almost-black);
  font-weight: 500;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}
