@import '~src/assets/scss/variables';

.add-tags-wrapper {
  padding: .75rem;
  background: rgba($color-white-smoke, .8);
  height: $lightbox-edit-tags-height;
}

.tags {
  padding: .75rem;
}

.suggested-tags {
  margin-top: .75rem;

  .title {
    text-transform: uppercase;
    font-size: $font-size-small;
    color: $color-background-2;
    font-weight: 500;
    margin-bottom: .25rem;
    margin-left: .25rem;
  }
}
