<div class="input-wrapper input-wrapper--small" *ngIf="editMode">
  <input type="text" class="input" placeholder="Add a tag..." [(ngModel)]="newTagValue" (keydown.enter)="onKeyEnter()"
    (focus)="onFocus()">
</div>

<div class="suggested-tags" *ngIf="suggestedTags && suggestedTags.length && editMode">
  <h4>Suggested</h4>
  <ul class="tags">
    <li *ngFor="let tag of suggestedTags">
      <button class="tag" (click)="addExistingTag(tag)">
        {{tag.value}}
      </button>
    </li>
  </ul>
</div>

<ul class="tags" *ngIf="tags && tags.length" [ngClass]="{'is-editmode': editMode}">
  <li class="tag" *ngFor="let tag of tags">
    {{tag.value}}
    <button *ngIf="editMode" (click)="removeTag(tag)">
      <i class="material-icons">close</i>
    </button>
  </li>
</ul>
