@import '~src/assets/scss/variables';

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -.4rem;

  &.is-editmode {
    margin-top: .75rem;

    .tag {
      padding-right: .3rem;
    }
  }
}

.tag {
  // background: $color-text;
  // color: $color-background;
  background: $color-background-2;
  color: $color-text;
  border-radius: 1000rem;
  padding: .2rem .6rem;
  font-weight: 400;
  // letter-spacing: 1px;
  font-size: .8rem;
  margin-right: .4rem;
  margin-bottom: .4rem;
  display: flex;
  align-items: center;

  button {
    margin-left: .2rem;
    display: flex;
  }

  i {
    font-size: 1rem;
    margin: auto;
    color: $color-text;
  }
}

.input-wrapper {
  width: 10rem;

  border-color: $color-background-2;

  .input {
    font-size: .8rem;
    height: auto;
    line-height: 1;
    padding: .4rem .7rem;

    color: $color-background-2;
    font-weight: 500;

    &::placeholder {
      color: $color-background-2;
    }
  }

  &:focus-within,
  &.is-filled {
    border-color: $color-background-2;
    color: $color-background-2;

    i {
      color: $color-background-2;
    }
  }
}

.suggested-tags {
  margin-top: .75rem;

  h4 {
    text-transform: uppercase;
    font-size: .7rem;
    color: $color-background-2;
    margin-left: .2rem;
  }

  .tags {
    margin-top: .3rem;
  }

  .tag {
    opacity: .5;
    transition: all .2s;

    &:hover {
      opacity: 1;
    }
  }
}

// .add-tag-button {
//   background: $color-text;
//   color: $color-background;
//   border-radius: 1000rem;
//   padding: .2rem .6rem;
//   padding-left: .5rem;
//   font-weight: 700;
//   font-size: .8rem;
//   display: flex;
//   align-items: center;

//   i {
//     font-size: 1rem;
//     margin-right: .3rem;
//   }
// }
