<div class="main-loader-wrapper" *ngIf="!photo" [@fadeAnimation]>
  <app-loader></app-loader>
</div>
<div class="main-container" *ngIf="photo" [@fadeAnimation]>
  <div class="inner">
    <div class="left">
      <img [src]="photo.photoUrl" alt="">
    </div>
    <div class="right">
      <app-photo-infos
        [title]="photo.title._content"
        [description]="photo.description._content"
        [tags]="tags"
        [time]="time"
        [contrast]="contrast"
        [aperture]="aperture"
        [albums]="albums"
      ></app-photo-infos>
    </div>
  </div>
</div>
