<button class="modal-button-close" (click)="close()">
  <i class="bi bi-x"></i>
</button>
<div class="modal-body">
  <div class="input-group">
    <h2 class="title-2">Darkroom Settings</h2>
    <div class="darkroom-settings">
      <div
        class="input-wrapper input-wrapper--i-left"
        [ngClass]="{ 'is-filled': image.darkroomSettingDuration }"
      >
        <i class="bi bi-clock"></i>
        <input
          class="input"
          type="number"
          placeholder="Duration"
          [(ngModel)]="image.darkroomSettingDuration"
          onkeydown="return event.keyCode !== 69"
          (blur)="update()"
        />
      </div>
      <div
        class="input-wrapper input-wrapper--i-left"
        [ngClass]="{ 'is-filled': image.darkroomSettingContrast }"
      >
        <i class="bi bi-circle-half"></i>
        <input
          class="input"
          type="number"
          placeholder="Contrast"
          [(ngModel)]="image.darkroomSettingContrast"
          onkeydown="return event.keyCode !== 69"
          (blur)="update()"
        />
      </div>
      <div
        class="input-wrapper input-wrapper--i-left"
        [ngClass]="{ 'is-filled': image.darkroomSettingAperture }"
      >
        <i class="bi bi-bullseye"></i>
        <input
          class="input"
          type="number"
          placeholder="Aperture"
          [(ngModel)]="image.darkroomSettingAperture"
          onkeydown="return event.keyCode !== 69"
          (blur)="update()"
        />
      </div>
    </div>
  </div>
  <div class="input-group">
    <textarea
      class="textarea"
      [ngClass]="{
        'is-filled': image.note && image.note.length
      }"
      [(ngModel)]="image.note"
      placeholder="Note..."
      (blur)="update()"
    ></textarea>
  </div>
</div>
