@import '~src/assets/scss/variables';

.title {
  margin-bottom: .8rem;
  font-size: 1rem;
}

.progress-wrapper {
  margin-bottom: .5rem;
}

.paragraph {
  font-size: .85rem;
  color: $color-text-lighter;
}
