.lightbox-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

// .sticky-header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 99;
// }
