@import '~src/assets/scss/variables';

:host {
  width: 100%;
}

.input-wrapper {
  width: 100%;
  max-width: 32rem;
  margin: auto;

  // @include respond-to('small') {
  //   width: 18rem;
  //   margin: auto;
  // }

  // i {
  //   width: 2.5rem;
  // }
}
