@import '~src/assets/scss/breakpoints';

.wrapper {
  display: flex;
  align-items: center;
  transition: all 0.2s;
  padding: 0.75rem 1rem;
  font-weight: 500;
  background: var(--color-menu-background);
  border-radius: var(--small-border-radius);
  height: 32px;
  width: 12rem;
  position: relative;

  @include respond-to('small') {
    width: 10rem;
  }

  &:focus-within,
  &.is-filled {
    color: var(--color-text);
    background: var(--color-menu-background-hover);
    padding-right: 2rem;
  }

  i {
    color: var(--color-text-medium);
  }

  .bi-search {
    margin-right: 0.55rem;
  }
}

.input {
  background: transparent;
  border: 0;
  font-size: 0.7rem;
  padding: 0;
  outline: 0;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.button-clear {
  margin-left: 0.5rem;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  // transition: all 0.15s;
  // transform-origin: center center;

  // &:active {
  //   transform: translateY(-50%) scale(0.6);
  // }
}
