  <div class="photo-wrapper" #photoWrapper>
    <app-image [src]="imageSrc" [width]="photo.width_m" [height]="photo.height_m"></app-image>
    <!-- <div class="infos"> -->
      <!-- <app-photo-infos
        [title]="photo.title"
        [description]="photo.description._content"
        [tags]="tags"
        [time]="time"
        [contrast]="contrast"
        [aperture]="aperture"
        [albums]="albums"
      ></app-photo-infos> -->
      <!-- <app-tags [tags]="tags"></app-tags> -->
    <!-- </div> -->
  </div>
