<div
  dropdown
  (isOpenChange)="onOpenChange($event)"
  #dropdown="bs-dropdown"
  placement="left"
  class="wrapper"
>
  <button
    dropdownToggle
    class="add-button button-overlay"
    aria-label="Button add menu"
    aria-controls="button-add"
    preventDefaultClick
  >
    <i class="bi bi-plus"></i>
  </button>
  <ul
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-add"
  >
    <li>
      <button class="checkbox-list__button" (click)="onClickAddToPrint()">
        <span>Add to print</span>
        <div class="right">
          <app-checkbox [check]="image.toPrint"></app-checkbox>
        </div>
      </button>
    </li>
    <li>
      <button class="checkbox-list__button" (click)="onClickAddToPublic()">
        <span>Add to public page</span>
        <div class="right">
          <app-checkbox [check]="image.public"></app-checkbox>
        </div>
      </button>
    </li>
  </ul>
</div>
