.wrapper {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  pointer-events: all;
}

.add-button {
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: 0 0 15px rgba(var(--color-black-rgb), 0.2);
  opacity: 0;
  visibility: hidden;

  &:hover {
    transform: scale(1.1);
  }
}

.dropdown-menu {
  transform: translate3d(-196px, -32px, 0) !important;
  padding: 0.3rem;
}
