<div class="image-thumb" [ngClass]="{ 'is-loaded': imageLoaded }">
  <button class="button-lightbox" (click)="openPhotoModal()">
    <app-image
      [flickrLayout]="true"
      [src]="image.signedUrl"
      [width]="image.oriWidth"
      [height]="image.oriHeight"
      [id]="image._id"
      (onImageLoaded)="onImageLoaded()"
    ></app-image>
  </button>
  <app-image-overlay
    *ngIf="imageLoaded && isLoggedIn"
    [image]="image"
    [stars]="stars"
    [tags]="tags"
    [editMode]="editMode"
    [@fadeInAnimation]
  >
  </app-image-overlay>
</div>
