<button class="image-thumb" (click)="openPhotoModal()">
  <app-image [src]="image.signedUrl" [width]="image.oriWidth" [height]="image.oriHeight"></app-image>
  <div class="edit-toolbar" *ngIf="editMode">
    <div class="group" *ngIf="isAlbumView">
      <button (click)="updateCover($event)">
        <i class="material-icons">photo</i> <span>Set as cover</span>
      </button>
    </div>
    <div class="group">
      <button (click)="updateFavorite($event)" class="button-favorite"
        [ngClass]="{'is-active': image.favorite}"><i class="material-icons">star</i></button>
      <!-- <button><i class="material-icons">edit</i></button> -->
      <button (click)="delete($event)"><i class="material-icons">delete</i></button>
    </div>
  </div>
</button>
