@import '~src/assets/scss/variables';

.image-thumb {
  width: 100%;
  display: block;
  position: relative;

  button {
    width: 100%;
    position: relative;
  }
}

.tags-wrapper {
  margin-top: .75rem;
}

.title {
  margin-top: .5rem;
}
