@import '~src/assets/scss/variables';

.image-thumb {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  &:not(.is-editmode) button {
    height: 100%;
  }

  button {
    width: 100%;
    position: relative;
  }
}

.tags-wrapper {
  margin-top: .3rem;
}

.title {
  margin-top: .5rem;
}
