@import '~src/assets/scss/variables';

.main-container {
  animation: fade-in-from-bottom 1s $ease-out-quint both 0.4s;
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    transform: translate3d(0, 0.5rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
