<div class="main-loader-wrapper" *ngIf="!album" [@fadeAnimation]>
  <app-loader></app-loader>
</div>
<div class="main-container" *ngIf="album" [@fadeAnimation]>
  <div class="title-wrapper">
    <button
      [disabled]="!displayPrev"
      class="navigation-button prev"
      (click)="prev()"
    >
      <i class="bi bi-arrow-left"></i>
    </button>
    <div class="infos">
      <div class="title">
        <label *ngIf="settings.editMode" class="label" for="title-1"
          >title:</label
        >
        <h1
          id="title-1"
          class="title-1"
          [attr.contenteditable]="settings.editMode"
          (focus)="onTextFocus($event)"
          (blur)="onTextBlur('title', $event)"
        >
          {{ album.title }}
        </h1>
      </div>
      <div class="bottom">
        <label *ngIf="settings.editMode" class="label" for="date">date:</label>
        <span
          id="date"
          [attr.contenteditable]="settings.editMode"
          (focus)="onTextFocus($event)"
          (blur)="onTextBlur('date', $event)"
          (keypress)="onNumberKeyPress($event)"
          >{{ album.date }}</span
        ><span
          class="coma"
          *ngIf="(album.date && album.rollId) || settings.editMode"
          >,</span
        >
        <div class="roll-id-wrapper" *ngIf="album.rollId || settings.editMode">
          <label *ngIf="settings.editMode" class="label" for="rollid"
            >roll id:</label
          >
          #
          <span
            id="rollid"
            [attr.contenteditable]="settings.editMode"
            (focus)="onTextFocus($event)"
            (blur)="onTextBlur('rollId', $event)"
            (keypress)="onNumberKeyPress($event)"
            >{{ album.rollId }}</span
          >
        </div>
      </div>
    </div>
    <button
      [disabled]="!displayNext"
      class="navigation-button next"
      (click)="next()"
    >
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>
  <button
    *ngIf="settings.editMode"
    ngfSelect
    class="button-upload"
    accept="image/*"
    multiple="1"
    (filesChange)="onUpload($event)"
  >
    <i class="bi bi-plus-circle"></i>
  </button>
  <app-images></app-images>
</div>
