<div class="main-loader-wrapper" *ngIf="!album" [@fadeAnimation]>
  <app-loader></app-loader>
</div>
<div class="main-container" *ngIf="album" [@fadeAnimation]>
  <div class="inner">
    <div class="cover" *ngIf="cover">
      <app-image
        [src]="cover.signedUrl"
        [width]="cover.oriWidth"
        [height]="cover.oriHeight"
        [cover]="true"
        [displayLoader]="true"
      ></app-image>
    </div>
    <app-images [images]="album.images"></app-images>
    <!-- <app-images [images]="album.images" (onUpdateCover)="onUpdateCover($event)"></app-images> -->
  </div>
</div>
