@import '~src/assets/scss/variables';

.cover {
  margin-bottom: 1.5rem;

  // @include respond-to('medium') {
  //   margin-bottom: 1rem;
  // }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: space-between;
  margin-bottom: 2rem;
}
