<div class="lightbox">
  <div class="overlay" (click)="close()"></div>

  <ng-container *ngFor="let image of currentImages; let i = index">
    <div class="dialog" *ngIf="i === index" [@fadeAnimation]>
      <app-lightbox-entry
        [image]="image"
        [editMode]="(settings | async).editMode"
      ></app-lightbox-entry>
    </div>
  </ng-container>

  <button
    *ngIf="displayControl"
    class="navigation-button prev"
    (click)="prev()"
  >
    <i class="bi bi-arrow-left-circle-fill"></i>
  </button>
  <button
    *ngIf="displayControl"
    class="navigation-button next"
    (click)="next()"
  >
    <i class="bi bi-arrow-right-circle-fill"></i>
  </button>
  <button class="close-button" (click)="close()">
    <i class="bi bi-x"></i>
  </button>
</div>
