<div class="lightbox">
  <div class="overlay" (click)="close()"></div>

  <ul class="list">
    <li *ngFor="let image of images; let i = index">
      <div
        *ngIf="
          i == index || i == getPrevIndex(index) || i == getNextIndex(index)
        "
        class="dialog"
        [ngClass]="{
          'is-visible': i == index,
          'is-prev': i == getPrevIndex(index) && images.length > 1,
          'is-next': i == getNextIndex(index) && images.length > 1
        }"
      >
        <div class="inner">
          <app-lightbox-entry
            [image]="image"
            [active]="i == index"
            [editMode]="settings.editMode"
          ></app-lightbox-entry>
        </div>
      </div>
    </li>
  </ul>

  <button
    *ngIf="displayControl"
    class="navigation-button prev"
    (click)="prev()"
  >
    <i class="material-icons">navigate_before</i>
  </button>
  <button
    *ngIf="displayControl"
    class="navigation-button next"
    (click)="next()"
  >
    <i class="material-icons">navigate_next</i>
  </button>
  <button class="close-button" (click)="close()">
    <i class="material-icons">close</i>
  </button>
</div>
