<div
  class="image-wrapper"
  [ngClass]="{ 'is-flickr-layout': flickrLayout }"
  (deferLoad)="onDeferLoad()"
  #wrapper
>
  <div class="loader" *ngIf="!isLoaded && displayLoader">
    <app-loader></app-loader>
  </div>
  <!-- <img *ngIf="isInViewport" alt="" class="fade" [src]="src" (load)="onLoad()" [ngClass]="{
      'is-loaded': isLoaded,
      'is-cover': cover
    }"> -->
  <img
    *ngIf="isInViewport && src"
    alt=""
    class="fade"
    [src]="src"
    (error)="onError()"
    (load)="onLoad()"
    [ngClass]="{ 'is-loaded': isLoaded, 'is-cover': cover }"
  />
</div>
