@import '~src/assets/scss/variables';

.wrapper {
  height: 100vh;
  display: flex;
  background: $color-background;
  text-align: center;
}

.content {
  margin: auto;
  // background: $color-background-2;
  // padding: 2rem 1.5rem 1.5rem;
  // border-radius: $big-border-radius;
  // position: relative;
  // border: 1px solid $color-main-border;
}

.logo-title {
  margin-bottom: 3rem;
}

.input-group {
  margin-bottom: 1rem;

  .input {
    width: 13rem;
  }
}

.button {
  width: 100%;
  background: $color-text-medium;
}

.footer {
  color: $color-text-medium;
  margin-top: 1rem;

  button {
    color: $color-text;
    margin-left: .2rem;
  }
}

.error-wrapper {
  // margin-top: 1rem;
  position: absolute;
  top: 100%;
  padding-top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.error {
  color: $color-red;

  &:not(:last-child) {
    margin-bottom: .2rem;
  }
}




.user-list {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  &:not(:last-child) {
    margin-right: 3.5rem;
  }

  .avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba($color-black, .1);
  }

  .name {
    margin-top: .75rem;
    color: $color-text-medium;
    font-size: .85rem;
  }
}
