  <div class="photo-wrapper" #photoWrapper>
    <app-image
      *ngIf="image"
      [src]="imageSrc"
      [width]="image.oriWidth"
      [height]="image.oriHeight"
      [displayLoader]="true"
    ></app-image>
    <div class="infos" [ngClass]="{'is-editmode': editMode}" *ngIf="image.tags.length || editMode">
      <!-- <app-photo-infos
        [title]="photo.title"
        [description]="photo.description._content"
        [tags]="tags"
        [time]="time"
        [contrast]="contrast"
        [aperture]="aperture"
        [albums]="albums"
      ></app-photo-infos> -->

      <div class="tags-wrapper" *ngIf="tags">
        <app-tags [imageId]="image._id" [tags]="tags" [editMode]="editMode"></app-tags>
      </div>
    </div>
  </div>
