@import '~src/assets/scss/breakpoints';

.image-wrapper {
  position: relative;
  box-shadow: 0 0 16px rgba(var(--color-black-rgb), 0.6);

  @include respond-to('small') {
    box-shadow: 0 0 transparent;
  }

  // &:hover .bottom,
  // &:hover .image-overlay-wrapper,
  // &.is-editmode .bottom,
  // &.is-editmode .bottom-right,
  // &.is-editmode .image-overlay-wrapper {
  //   opacity: 1;
  //   visibility: visible;
  // }
}

:host ::ng-deep .image-wrapper:hover .add-button {
  opacity: 1;
  visibility: visible;
}

// :host ::ng-deep .image-wrapper:hover .image-overlay-entry {
//   opacity: 1;
//   visibility: visible;
// }
