@import '~src/assets/scss/variables';

.image-wrapper {
  position: relative;
  overflow: hidden;
  // border: 1px solid $color-main-border;
  box-shadow: 0 5px 15px rgba($color-black, .1);

  &:hover .infos,
  &:hover .image-overlay-wrapper,
  &:hover .go-to-album,
  &.is-editmode .infos,
  &.is-editmode .image-overlay-wrapper {
    opacity: 1;
  }

  &.is-editmode .infos {
    background: rgba($color-white-smoke, .8);
  }
}

.image-overlay-wrapper {
  transition: all .2s;
  opacity: 0;
}

.infos {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .75rem;
  opacity: 0;
  transition: all .2s;
}

.go-to-album {
  position: absolute;
  right: .75rem;
  bottom: .75rem;
  opacity: 0;
  transition: all .2s;
}
