<div class="sidebar">
  <a class="logo" [routerLink]="['/']">
    <img src="assets/images/icon-camera.svg" alt="">
  </a>

  <nav class="menu">
    <ul>
      <li>
        <a class="menu__entry" [routerLink]="['/']" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
          <i class="material-icons">all_inclusive</i>
          <span>All</span>
        </a>
      </li>
      <li>
        <a class="menu__entry" [routerLink]="['/', 'albums']" routerLinkActive="is-active">
          <i class="material-icons">collections</i>
          <span>Albums</span>
        </a>
      </li>
      <li>
        <a class="menu__entry" [routerLink]="['/', 'favorites']" routerLinkActive="is-active">
          <i class="material-icons">star</i>
          <span>Fav</span>
        </a>
      </li>
      <li>
        <button class="menu__entry" (click)="onClickAddAlbum()">
          <i class="material-icons">add_circle_outline</i>
          <span>New</span>
        </button>
      </li>
    </ul>
  </nav>

  <div class="bottom">
    <div class="user-thumb"></div>
  </div>
</div>
