@import '~src/assets/scss/variables';

.sidebar {
  animation: fade-in .4s both;
  background: $color-background-2;
  height: 100vh;
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid $color-main-border;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 99;

  @include respond-to('small') {
    display: block;
    text-align: center;
  }
}

.logo {
  height: $sidebar-width;
  display: flex;
  opacity: .65;

  img {
    width: 60%;
    margin: auto;
  }
}

.menu {
  width: 100%;

  ul {
    width: 100%;
    margin-top: 1rem;
  }

  li {
    width: 100%;
  }
}

.menu__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
  position: relative;
  transition: .2s all;
  opacity: .55;
  height: $sidebar-width;
  width: 100%;

  &:after {
    content: '';
    width: 1px;
    height: 100%;
    background: $color-white;
    position: absolute;
    right: -1px;
    top: 0;
    opacity: 0;
    transition: .2s all;
  }

  &:hover {
    opacity: .8;
  }

  &.is-active {
    opacity: .8;
    background: rgba($color-white, .1);

    &:after {
      opacity: .7;
    }
  }

  i {
    font-size: 1.8rem;
  }

  span {
    font-size: .6rem;
    margin-top: .35rem;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
}

.bottom {
  padding-bottom: 1rem;
}

.user-thumb {
  background: $color-text-lighter;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  opacity: .5;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
