@import '~src/assets/scss/variables';

.no-results {
  font-size: 1.5rem;
  text-align: center;
  color: $color-text-lighter;
  margin-top: 4rem;
  font-weight: 300;
}

.filters-wrapper {
  max-width: 44rem;
  margin: auto;
}
