@import '~src/assets/scss/variables';

.header {
  animation: fade-in .4s both;
  max-width: $container-width;
  padding: $container-padding;

  @include respond-to('small') {
    display: block;
    padding: 1rem;
  }

  // &.is-sticky {
  //   width: 100%;
  //   background: rgba($color-background-4, .9);
  //   border-bottom: 1px solid $color-main-border;
  //   backdrop-filter: blur(15px);
  //   padding: 0 1.5rem;
  //   height: 4rem;

  //   @include respond-to('small') {
  //     height: auto;
  //     padding: 1rem;
  //   }

  //   .search-wrapper {
  //     display: none;
  //   }
  // }
}

.logo {
  width: 16rem;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: .75rem;
  display: block;
  animation: fade-in-from-bottom 1s $ease-out-quint both .1s;

  img {
    width: 100%;
  }
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  animation: fade-in-from-top 1s $ease-out-quint both;

  .settings {
    display: flex;
    align-items: center;

    span {
      margin-right: .5rem;
      font-size: 1.2em;
    }
  }
}

.menu-wrapper {
  animation: fade-in-from-bottom 1s $ease-out-quint both .2s;
}

@keyframes fade-in-from-top {
  from {
    opacity: 0;
    transform: translate3d(0, -.5rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    transform: translate3d(0, .5rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
