<header class="header main-container main-container--fixed" [ngClass]="{'is-sticky': sticky}">
  <!-- <div class="content"> -->

    <div class="top-buttons" *ngIf="isLoggedIn">
      <app-user-menu></app-user-menu>
      <app-search-input></app-search-input>
    </div>

    <!-- <div class="left"> -->
      <a class="logo" [routerLink]="['/']">
        <!-- <h1 class="logo-title">photol</h1> -->
        <img src="/assets/images/photol-logo-light-border.svg" alt="">
        <!-- <img src="/assets/images/photol-logo-severine.svg" alt=""> -->
      </a>
    <!-- </div> -->
    <!-- <div class="right"> -->
      <app-menu *ngIf="isLoggedIn"></app-menu>
    <!-- </div> -->
  <!-- </div> -->
  <!-- <div class="search-wrapper">
    <app-search-input></app-search-input>
  </div> -->
</header>
