@import '~src/assets/scss/variables';

.header {
  animation: fade-in .4s both;
  padding-top: 3rem;
  max-width: $container-width-header;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-wrapper {
  margin-top: 1rem;
  display: none;

  @include respond-to('small') {
    display: block;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
