<header class="header main-container main-container--fixed">
  <div class="left">
    <a [routerLink]="['/']">
      <h1 class="logo-title">Photol</h1>
      <!-- <h2 class="subtitle">{{pageTitle}}</h2> -->
    </a>
  </div>
  <div class="middle">
    <app-menu></app-menu>
  </div>
  <div class="right">
    <div class="topbar-entry">
      <app-search-input></app-search-input>
    </div>
    <!-- <button class="button-icon topbar-entry" [ngClass]="{'is-active': activeSettingsButton}"
      [popover]="popSettingsContent" containerClass="popover--settings" placement="bottom" outsideClick="true"
      (onShown)="onPopSettingsShown()" (onHidden)="onPopSettingsHidden()">
      <i class="material-icons-outlined">settings</i>
    </button> -->
  </div>
</header>
