@import '~src/assets/scss/variables';

.upload-list-wrapper {
  background: $color-background;
  border-radius: $small-border-radius;
  padding: 1rem;
  min-height: 22rem;
  display: flex;
  position: relative;
  overflow: hidden;

  .button {
    margin: auto;
  }
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-background, .8);
  display: flex;

  .inner {
    margin: auto;
  }
}

.masonry-list {
  column-count: 3;
  column-gap: 1rem;
  margin-bottom: -1rem;

  // @include respond-to('medium') {
  //   column-count: 2 !important;
  //   column-gap: 1rem;
  // }

  // @include respond-to('small') {
  //   column-count: 1 !important;
  //   column-gap: 0;
  // }
}

.list__entry {
  padding: 0;
  padding-bottom: 1rem;
  break-inside: avoid;
  position: relative;

  // @include respond-to('small') {
  //   padding-top: .5rem;
  //   padding-bottom: .5rem;
  // }

  img {
    width: 100%;
    border-radius: $small-border-radius;
  }

  &:hover .button-remove {
    opacity: .8;
    transform: scale(1);
  }
}

.button-remove {
  position: absolute;
  top: .3rem;
  right: .2rem;
  width: 1.2rem;
  height: 1.2rem;
  transition: all .2s;
  opacity: 0;
  transform: scale(.8);

  img {
    width: 100%;
  }
}

.input-list {
  display: flex;
  margin-top: 1rem;

  >div {
    flex: 1;
  }

  .input-wrapper {
    margin-right: 1rem;
  }

  .button {
    margin-left: 3rem;
  }
}
