<div class="modal-body">
  <h2 class="modal__title">Create Album</h2>
  <div class="upload-list-wrapper">
    <button
      *ngIf="!images.length"
      ngfSelect
      class="button"
      accept="image/*"
      multiple="1"
      (filesChange)="onUpload($event)"
    >
      Add images to upload
    </button>
    <ul class="masonry-list" *ngIf="images.length">
      <li
        class="list__entry"
        *ngFor="let image of images; trackBy: trackByFunction"
        [ngClass]="{'is-selected': image.selected}"
      >
        <img [src]="image.src" draggable="false" alt="">
        <button class="button-remove" (click)="removeImage(image)">
          <i class="material-icons">close</i>
        </button>
      </li>
    </ul>
    <div class="loader-wrapper" *ngIf="loading" [@fadeAnimation]>
      <div class="inner">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
  <div class="input-list">
    <div class="input-wrapper">
      <input class="input" type="text" placeholder="Album title..." [(ngModel)]="title">
    </div>
    <div class="input-wrapper">
      <input class="input" type="number" placeholder="Roll id..." [(ngModel)]="rollId">
    </div>
    <button
      class="button button--main"
      (click)="onCreateAlbum()"
      [disabled]="!title || title == '' || !rollId || rollId == '' || !images.length"
    >Create Album</button>
  </div>
</div>
