<div class="modal-header">
  <h2 class="modal__title">Create Album</h2>
  <button class="modal-button-close" (click)="close()">
    <i class="material-icons">close</i>
  </button>
</div>
<div class="modal-body">
  <div class="upload-list-wrapper">
    <button *ngIf="!images.length" ngfSelect class="button" accept="image/*" multiple="1"
      (filesChange)="onUpload($event)">
      Add images to upload
    </button>
    <ul class="list">
      <li class="list__entry" [ngClass]="{'is-loaded': image.loaded}" *ngFor="let image of images" [@fadeInAnimation]>
        <img class="fade" [ngClass]="{'is-loaded': image.loaded}" (load)="image.loaded = true" [src]="image.src"
          draggable="false" alt="">
        <button class="button-remove" (click)="removeImage(image)">
          <img src="assets/images/close-button.svg" alt="">
        </button>
      </li>
    </ul>
  </div>
  <div class="input-list">
    <div class="input-wrapper" [ngClass]="{'is-filled': title?.length}">
      <input class="input" type="text" placeholder="Album title..." [(ngModel)]="title">
    </div>
    <div class="bottom">
      <div class="input-wrapper" [ngClass]="{'is-filled': rollId}">
        <input class="input" type="number" placeholder="Roll id..." [(ngModel)]="rollId"
          onkeydown="return event.keyCode !== 69" (keyup)="onRollKeyup()">
      </div>
      <div class="input-wrapper" [ngClass]="{'is-filled': date}">
        <input class="input" type="number" placeholder="Album year..." [(ngModel)]="date"
          onkeydown="return event.keyCode !== 69">
      </div>
      <button class="button button--main" (click)="onCreateAlbum()" [disabled]="disableButton">Create Album</button>
    </div>
  </div>
  <div class="warning" *ngIf="rollExists">
    Warning: an album with this roll ID already exists
  </div>
</div>
