@import '~src/assets/scss/variables';

.upload-list-wrapper {
  background: $color-background;
  border-radius: $small-border-radius;
  display: flex;
  position: relative;

  .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 2;
  }
}

.list {
  width: 100%;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-auto-rows: 8.5rem;
  overflow: auto;
  height: 22rem;
  padding: 1rem;
}

.list__entry {
  position: relative;
  display: flex;
  transition: all .2s;
  border-radius: $small-border-radius;
  margin-bottom: 1rem;
  transition: all .2s;

  &:not(.is-loaded) {
    background: $color-background-2;
  }

  &:hover .button-remove {
    opacity: .8;
    transform: scale(1);
  }

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: $small-border-radius;
    margin: auto;
  }
}

.button-remove {
  position: absolute;
  top: .3rem;
  right: .2rem;
  width: 1.2rem;
  height: 1.2rem;
  transition: all .2s;
  opacity: 0;
  transform: scale(.8);

  img {
    width: 100%;
  }
}

.input-list {
  margin-top: 1rem;

  .bottom {
    display: flex;
    margin-top: 1rem;

    >div {
      flex: 1;
    }

    .input-wrapper {
      margin-right: 1rem;
    }
  }
}

.warning {
  color: $color-orange;
  margin-top: 1rem;
}
