<div class="modal-header">
  <h2 class="modal__title">Create Album</h2>
  <button class="modal-button-close" (click)="close()">
    <i class="material-icons">close</i>
  </button>
</div>
<div class="modal-body">
  <div class="upload-list-wrapper">
    <button *ngIf="!images.length" ngfSelect class="button" accept="image/*" multiple="1"
      (filesChange)="onUpload($event)">
      Add images to upload
    </button>
    <!-- <ul id="preview-list" class="list"> -->
    <ul class="list">
      <li class="list__entry" *ngFor="let image of images; trackBy: trackByFunction"
        [ngClass]="{'is-selected': image.selected}" [@fadeInAnimation]>
        <img [src]="image.src" draggable="false" alt="">
        <button class="button-remove" (click)="removeImage(image)">
          <img src="assets/images/close-button.svg" alt="">
        </button>
      </li>
    </ul>
    <div class="loader-wrapper" *ngIf="loading" [@fadeAnimation]>
      <div class="inner">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
  <div class="input-list">
    <div class="input-wrapper">
      <input class="input" type="text" placeholder="Album title..." [(ngModel)]="title">
    </div>
    <div class="input-wrapper">
      <input class="input" type="number" placeholder="Roll id..." [(ngModel)]="rollId"
        onkeydown="return event.keyCode !== 69" (keyup)="onRollKeyup()">
    </div>
    <button class="button button--main" (click)="onCreateAlbum()" [disabled]="disableButton">Create Album</button>
  </div>
  <div class="error" *ngIf="rollExists">
    An album with this roll ID already exists
  </div>
</div>
