<nav class="menu">
  <ul>
    <li>
      <a class="menu__entry" [routerLink]="['/']" routerLinkActive="is-active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="material-icons">all_inclusive</i>
        <span>Images</span>
      </a>
    </li>
    <li>
      <a class="menu__entry" [routerLink]="['/', 'albums']" routerLinkActive="is-active">
        <i class="material-icons">collections</i>
        <span>Albums</span>
      </a>
    </li>
    <li>
      <a class="menu__entry" [routerLink]="['/', 'favorites']" routerLinkActive="is-active">
        <i class="material-icons">star</i>
        <span>Favorites</span>
      </a>
    </li>
    <li>
      <button class="menu__entry" [ngClass]="{'is-active': activeSettingsButton}" [popover]="popSettingsContent"
        containerClass="popover--settings" placement="bottom" container="body" outsideClick="true"
        (onShown)="onPopSettingsShown()" (onHidden)="onPopSettingsHidden()">
        <i class="material-icons">settings</i>
        <span>Settings</span>
      </button>
    </li>
  </ul>
</nav>

<ng-template #popSettingsContent>
  <app-settings></app-settings>
</ng-template>
