@import '~src/assets/scss/breakpoints';

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to('small') {
    flex-direction: column;
    padding: 1rem;
  }
}

.list__entry {
  @include respond-to('small') {
    width: 100%;
  }

  &:not(:last-child) {
    margin-right: 1rem;

    @include respond-to('medium') {
      margin-right: 0.5rem;
    }

    @include respond-to('small') {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }
}

.menu__entry {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-medium);
  position: relative;
  transition: 0.2s all;
  font-size: 0.7rem;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  background: var(--color-menu-background);
  border-radius: var(--small-border-radius);

  @include respond-to('small') {
    width: 100%;
  }

  &:hover,
  &.is-active {
    color: var(--color-text);
    background: var(--color-menu-background-hover);
  }

  span {
    letter-spacing: 0.1em;
  }
}
