@import '~src/assets/scss/variables';

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;

  // @include respond-to('topbar') {
  //   flex-direction: column;
  // }

  li:not(:last-child) {
    margin-right: 1rem;
  }
}

.menu__entry {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text-medium;
  position: relative;
  transition: .2s all;
  font-size: .75rem;
  padding: .4rem 0;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 500;

  @include respond-to('small') {
    padding: 0;
    border: 0;
    width: 2.25rem;
    height: 2.25rem;

    span {
      display: none;
    }

    i {
      display: block !important;
    }
  }

  &:hover {
    color: $color-text;
  }

  &.is-active {
    color: $color-text;
    border-color: $color-text;
  }

  i {
    display: none;
  }

  span {
    letter-spacing: .1em;
  }
}

.menu__entry--icon {
  padding: 0;
  border: 0;
  width: 2.25rem;
  height: 2.25rem;

  i {
    display: block;
  }
}

.search-entry {
  margin-left: 1rem;
  margin-right: 2rem;

  @include respond-to('small') {
    display: none;
  }
}
