<nav class="menu">
  <ul>
    <li>
      <a class="menu__entry" [routerLink]="['/']" routerLinkActive="is-active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="material-icons">all_inclusive</i>
        <span>Images</span>
      </a>
    </li>
    <li>
      <a class="menu__entry" [routerLink]="['/', 'albums']" routerLinkActive="is-active">
        <i class="material-icons">collections</i>
        <span>Albums</span>
      </a>
    </li>
    <li>
      <a class="menu__entry" [routerLink]="['/', 'favorites']" routerLinkActive="is-active">
        <i class="material-icons">star</i>
        <span>Favorites</span>
      </a>
    </li>
    <li>
      <button class="menu__entry" [ngClass]="{'is-active': activePopButton.tags}" [popover]="popTagsContent"
        containerClass="popover--tags" placement="bottom" container="body" outsideClick="true"
        (onShown)="onPopShown('tags')" (onHidden)="onPopHidden('tags')">
        <i class="material-icons">tag</i>
        <span>Tags</span>
      </button>
    </li>
    <li>
      <button class="menu__entry" [ngClass]="{'is-active': activePopButton.settings}" [popover]="popSettingsContent"
        containerClass="popover--settings" placement="bottom" container="body" outsideClick="true"
        (onShown)="onPopShown('settings')" (onHidden)="onPopHidden('settings')">
        <i class="material-icons">settings</i>
        <span>Settings</span>
      </button>
    </li>
  </ul>
</nav>

<ng-template #popTagsContent>
  <app-manage-tags></app-manage-tags>
</ng-template>

<ng-template #popSettingsContent>
  <app-settings></app-settings>
</ng-template>
