<nav class="menu">
  <ul class="menu__list">
    <!-- <li *ngIf="isLoggedIn">
      <a
        class="menu__entry"
        [routerLink]="['/all']"
        routerLinkActive="is-active"
      >
        <span>all</span>
      </a>
    </li> -->
    <li class="list__entry" *ngIf="isLoggedIn">
      <a
        class="menu__entry"
        [routerLink]="['/albums']"
        routerLinkActive="is-active"
        (click)="onClickMenu()"
      >
        film rolls
      </a>
    </li>
    <li class="list__entry" *ngIf="isLoggedIn">
      <a
        class="menu__entry"
        [routerLink]="['/favorites']"
        routerLinkActive="is-active"
        (click)="onClickMenu()"
      >
        favorites
      </a>
    </li>
    <li class="list__entry" *ngIf="isLoggedIn">
      <a
        class="menu__entry"
        [routerLink]="['/toprint']"
        routerLinkActive="is-active"
        (click)="onClickMenu()"
      >
        to print
      </a>
    </li>
    <li class="list__entry" *ngIf="!isLoggedIn">
      <a
        class="menu__entry"
        [routerLink]="['/login']"
        routerLinkActive="is-active"
        (click)="onClickMenu()"
      >
        log in
      </a>
    </li>
    <li class="list__entry" *ngIf="isLoggedIn">
      <a
        class="menu__entry"
        [routerLink]="['/', 'public']"
        routerLinkActive="is-active"
        (click)="onClickMenu()"
      >
        public
      </a>
    </li>
    <li class="list__entry" *ngIf="isLoggedIn">
      <a
        class="menu__entry"
        [routerLink]="['/', 'tags']"
        routerLinkActive="is-active"
        (click)="onClickMenu()"
      >
        tags
      </a>
    </li>
    <li class="list__entry" *ngIf="isLoggedIn && !(isScreenSmall$ | async)">
      <app-search-input></app-search-input>
    </li>
  </ul>
</nav>
