@import '~src/assets/scss/variables';

.main-container {
  animation: fade-in-from-bottom 1s $ease-out-quint both .4s;
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    transform: translate3d(0, .5rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.button-add-album button {
  width: 100%;
  padding-top: 67%;
  position: relative;
  border-radius: $medium-border-radius;
  overflow: hidden;
  border: 1px solid $color-main-border;
  transition: all .2s;

  &:hover {
    border-color: $color-text;

    i {
      color: $color-text;
      transform: scale(1.2) rotate(90deg);
    }
  }

  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  i {
    font-size: 2.2rem;
    border-radius: 50%;
    color: $color-text-medium;
    transition: all .2s;
    transform-origin: center center;
  }
}
