@import '~src/assets/scss/variables';

.button-add-album button {
  width: 100%;
  padding-top: 100%;
  // background: $color-background-2;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid $color-main-border;
  transition: all .2s;

  &:hover {
    border-color: rgba($color-white, .3);

    i {
      color: rgba($color-white, .3);
    }
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 2.2rem;
    border-radius: 50%;
    color: $color-text-lighter;
    transition: all .2s;
  }
}
