<div class="main-loader-wrapper" *ngIf="!albums" [@fadeAnimation]>
  <app-loader></app-loader>
</div>
<div class="main-container" *ngIf="albums" [@fadeAnimation]>
  <div class="inner">
    <ul class="grid-list">
      <li class="button-add-album" *ngIf="editMode" [@fadeAnimation]>
        <button (click)="onClickAddAlbum()">
          <div class="inner">
            <i class="material-icons">add</i>
          </div>
        </button>
      </li>
      <li *ngFor="let album of albums; trackBy: trackByFunction">
        <app-album-thumb [album]="album"></app-album-thumb>
      </li>
    </ul>
  </div>
</div>
