<div class="main-loader-wrapper" *ngIf="!albums" [@fadeAnimation]>
  <app-loader></app-loader>
</div>
<div class="main-container" *ngIf="albums" [@fadeAnimation]>
  <!-- <div class="page-header">
    <h1 class="title-1">Albums</h1>
  </div> -->
  <ul class="grid-list">
    <li *ngFor="let album of albums; trackBy: trackByFunction">
      <app-album-thumb [album]="album" (onDeleteAlbum)="onDeleteAlbum($event)"></app-album-thumb>
    </li>
    <li class="button-add-album" *ngIf="editMode" [@fadeAnimation]>
      <button (click)="onClickAddAlbum()">
        <i class="material-icons">add</i>
      </button>
    </li>
  </ul>
</div>
