<div class="image-overlay">
  <div class="top-left">
    <!-- <div class="rating-wrapper" [ngClass]="{ 'is-always-visible': stars > 0 }"> -->
    <div class="rating-wrapper">
      <rating
        [(ngModel)]="image.stars"
        [max]="5"
        (click)="onRatingClick($event)"
      ></rating>
      <button class="clear-rating" (click)="clearRating()">
        <i class="bi bi-x"></i>
      </button>
    </div>
    <div
      *ngIf="image.albums.length && image.albums[0].rollId && !isAlbumView"
      class="roll-id-wrapper"
    >
      #{{ image.albums[0].rollId }}
    </div>
  </div>
  <!-- <div *ngIf="!isAlbumView" class="top-right">
  <span *ngIf="image.date">{{ image.date }}</span>
  <div
    *ngIf="image.albums.length && image.albums[0].rollId"
    class="roll-id-wrapper"
  >
    #{{ image.albums[0].rollId }}
  </div>
</div> -->

  <!-- <ul class="bottom-left" *ngIf="!editMode">
    <li *ngFor="let tag of displayedTags; last as isLast">
      {{ tag.value }}<span *ngIf="!isLast">,</span>
    </li>
    <li *ngIf="tags && tags.length > maxTags">
      and {{ tags.length - maxTags }} more
    </li>
  </ul> -->

  <div class="bottom">
    <!-- [ngClass]="{ 'is-editmode': editMode }" -->
    <div class="bottom__top">
      <ul
        class="tags-list"
        [ngClass]="{ 'in-lightbox': inLightbox }"
        *ngIf="displayedTags && displayedTags.length"
      >
        <li *ngFor="let tag of displayedTags; last as isLast">
          <button
            *ngIf="inLightbox"
            class="tag is-clickable"
            (click)="onClickTag(tag.value)"
          >
            {{ tag.value }}
            <!-- <button *ngIf="editMode" (click)="removeTag(tag)">
            <i class="bi bi-x"></i>
          </button> -->
          </button>
          <ng-container *ngIf="!inLightbox">
            {{ tag.value }}<span *ngIf="!isLast">,</span>
          </ng-container>
        </li>
        <li *ngIf="tags && tags.length > maxTags && !inLightbox">
          and {{ tags.length - maxTags }} more
        </li>
      </ul>
      <div class="edit-toolbar">
        <button *ngIf="inLightbox" class="button" (click)="onClickInfos()">
          <i class="bi bi-info-circle"></i> Infos
        </button>
        <a
          *ngIf="
            image.albums && image.albums.length && !isAlbumView && inLightbox
          "
          class="button"
          [routerLink]="['/', 'albums', image.albums[0]._id]"
          (click)="onClickGoToAlbum()"
          ><i class="bi bi-film"></i> Go to album</a
        >
        <button
          *ngIf="isAlbumView && editMode"
          [@fadeAnimation]
          class="button"
          [ngClass]="{ 'button--icon': !isCover }"
          (click)="updateCover()"
          [tooltip]="isCover ? null : 'Set as Cover'"
          container="body"
        >
          <i class="bi bi-image"></i>
          <i class="bi bi-check" *ngIf="isCover"></i>
        </button>
        <button
          *ngIf="editMode"
          [@fadeAnimation]
          class="button button--icon"
          (click)="delete()"
        >
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
    <app-tags
      *ngIf="inLightbox"
      [imageId]="image._id"
      [tags]="image.tags"
      [editMode]="editMode"
    ></app-tags>
    <!-- [reload]="active" -->
  </div>

  <app-button-add-menu [image]="image"></app-button-add-menu>
</div>
