@import '~src/assets/scss/variables';

.top-left,
.top-right,
.bottom-left {
  position: absolute;
  color: $color-white-smoke;
  text-shadow: 1px 1px 4px rgba($color-black, 0.6);
}

.top-left {
  top: $overlay-padding;
  left: $overlay-padding;
  text-align: left;

  span {
    display: block;
  }
}

.top-right {
  top: $overlay-padding;
  right: $overlay-padding;
  text-shadow: 1px 1px 4px rgba($color-black, 0.3);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &.is-always-visible {
    opacity: 1;
    visibility: visible;
  }

  &:hover .clear-rating {
    opacity: 1;
    visibility: visible;
  }

  .clear-rating {
    margin-right: 0.1em;
    display: flex;
    position: relative;
    top: 1px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    i {
      margin: auto;
      font-size: 1.2em;
      color: $color-white;
      text-shadow: 1px 1px 4px rgba($color-black, 0.4);
    }
  }
}

.bottom-left {
  bottom: 0;
  left: 0;
  padding: $overlay-padding;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;

  li:not(:last-child) {
    margin-right: 0.2rem;
  }
}

.roll-id-wrapper {
  display: flex;
  align-items: center;
}
