.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // opacity: 0;
  // visibility: hidden;
  color: var(--color-white-smoke);
  pointer-events: none;
  // padding: var(--overlay-padding);
}

.top-left {
  position: absolute;
  top: var(--overlay-padding);
  left: var(--overlay-padding);
  text-align: left;
  pointer-events: all;
  text-shadow: var(--main-text-shadow);

  span {
    display: block;
  }
}

// .top-right {
//   // top: var(--overlay-padding);
//   // right: var(--overlay-padding);
//   text-shadow: 1px 1px 4px rgba(var(--color-black-rgb), 0.3);
// }

// .bottom-left {
//   position: absolute;
//   bottom: var(--overlay-padding);
//   left: var(--overlay-padding);
//   display: flex;
//   flex-wrap: wrap;
//   max-width: 70%;

//   li:not(:last-child) {
//     margin-right: 0.25rem;
//   }
// }

.bottom {
  position: absolute;
  bottom: var(--overlay-padding);
  left: var(--overlay-padding);
  right: var(--overlay-padding);
}

.bottom__top {
  display: flex;
  align-items: flex-end;
}

.tags-list {
  &.in-lightbox {
    pointer-events: all;
    margin-right: 4rem;
  }

  &:not(.in-lightbox) {
    text-shadow: var(--main-text-shadow);
    margin-right: 1rem;

    li:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}

.tag-text {
  color: var(--color-white-smoke);
}

.edit-toolbar {
  margin-left: auto;
  pointer-events: all;
}

.rating-wrapper {
  display: flex;
  // opacity: 0;
  // visibility: hidden;
  transition: all 0.2s;

  // &.is-always-visible {
  //   opacity: 1;
  //   visibility: visible;
  // }

  &:hover .clear-rating {
    opacity: 1;
    visibility: visible;
  }

  .clear-rating {
    margin-right: 0.1em;
    display: flex;
    position: relative;
    top: 1px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    i {
      margin: auto;
      font-size: 1.2em;
      color: var(--color-text);
      text-shadow: 1px 1px 4px rgba(var(--color-black-rgb), 0.4);
    }
  }
}
